form {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 100px;
}
.label-firstname {
    margin-right: 5px
}
.code {
    background-color: #eee;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
}
.lastcode {
    margin-bottom: 20px;
}